[submodule "MusicLibrary"]
	path = MusicLibrary
	url = https://github.com/cmachsocket/MusicLibrary
[submodule "NeteaseCloudMusic_PythonSDK"]
	path = NeteaseCloudMusic_PythonSDK
	url = https://github.com/cmachsocket/NeteaseCloudMusic_PythonSDK.git
